body {
  background: white;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1vmin;
  display: inline-block;
  margin: 0 auto;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: left 1s ease;
  text-align: center;
  top: 0px;
}

#navigation-bar {
  display: 'inline-block';
  visibility: hidden;
  /* flex-direction: column; */
  float: left;
  width: 80px;
  top: 100px;
  left: 0;
  bottom: 0;
}

#navigation-open-button {
  display: inline-block;
  border: 0 !important;
  outline: 0 !important;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.navigation-icons {
  display: 'block';
  padding: 10px;
}

#new-activity-title {
  font-size: 1em;
  color: white;
}

input {
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  /* border-bottom: 1px solid grey; */
  font-size: 2vmin;
  padding: 15px;
  width: 600px;
  margin: 0 auto;
  color: darkviolet;
}

input:focus {
  outline: 0;
}

input::placeholder {
  font-size: 2vmin;
}

#input-button, #delete-button {
  height: 25px;
  color: black;
}

#input-button:hover, #delete-button:hover {
  color: darkviolet;
  font-weight: bold;
}

.activity-list {
  background: white;
  padding: 20px;
  box-shadow: 2px 2px 2px lightgrey;
  border-style: solid;
  border-width: thin;
  border-color: #8cb7e9;
  width: 600px;
  color: black;
  margin: 5px auto;
  text-align: left;
}

.activity-list:hover {
  border-color: darkviolet;
}

#activity-name-inactive {
  text-decoration: line-through;
  text-decoration-color: lightgrey;
  color: lightgrey;
}

.activity-check, .activity-delete {
  float: right;
  border: none;
  outline: none;
  padding-right: 10px;
  vertical-align: middle;
}

.wrapper {
  position: relative;
  text-align: center;
  align-content: center;
  width: 100%;
}

#day {
  font-size: 3vmin;
  color: black;
}

#navigation-bar {
  text-align: center;
  width: 100px;
}

.animation-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 10em;
  width: 500px;
  display: 'inline-block';
}

.welcome-animation {
  overflow: hidden;
  font-size: 30px;
  border-right: .1em solid darkviolet;
  letter-spacing: .1em;
  white-space: nowrap;
  margin: 2em 1em;
  font-family: 'Roboto', sans-serif;
  /* width: 455px; */
  -webkit-animation: typing 2s steps(30, end),
    blink-caret .2s step-end infinite alternate;
}

@-webkit-keyframes typing {
  from { width: 0 }
}

@-webkit-keyframes blink-caret {
  50% { border-color: transparent }
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  padding: 10vmin 1rem;
  width: 1vmin 1rem;
}

.login-title {
  text-align: center;
}

.login-field {
  text-align: left;
  padding: 20px;
}

.login-button {
  background: black;
  color: white;
  width: 150px;
  height: 50px;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  outline: none;
  padding: 10px;
}

.login-button[disabled] {
  background: lightgrey;
}

#footer-holder {
  bottom: 0;
  padding: 20px;
  display: 'block';
  text-align: center;
  width: 100%;
}

#footer {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 1.5vmin;
}

#external-icons {
  padding: 10px;
}

#password-message, #email-message {
  display: none;
}

#warning-p {
  font-size: 14px;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 640px), (orientation: landscape) {
  .container {
    width: 30%;
    padding-right: 100px;
  }
  #navigation-bar {
    width: 20%;
  }
  .login-title {
    text-align: left;
    padding-left: 20px;
  }
  .animation-wrapper {
    width: 75%;
  }
  .welcome-animation {
    font-size: 18px;
    width: 100%;
  }
  #footer {
    text-align: center;
  }

@media screen and (min-width: 750px), (orientation: landscape) {
  .container {
    width: 30%;
  }
  #navigation-bar {
    width: 10%;
  }
  .login-title {
    text-align: left;
    padding-left: 30px;
  }
  .animation-wrapper {
    width: 90%;
  }
  .welcome-animation {
    font-size: 30px;
    width: 65%;
  }
  #footer {
    text-align: center;
  }
  #day {
    margin: 0 auto;
    float: center;
    text-align: center;
    font-size: 2em;
  }
}

@media all and (min-width: 1024px) {
  .container {
    width: 70%;
    padding-left: 150px;
    font-size: 3vmin;
  }
  #navigation-bar {
    width: 5%;
  }
  .login-title {
    text-align: center;
  }
  .animation-wrapper {
    width: 80%;
  }
  .welcome-animation {
    font-size: 40px;
    width: 45%;
  }
  .activity-list {
    font-size: 16px;
    width: 600px;
  }
}

@media all and (min-width: 1934px) {
  .container {
    width: 70%;
    padding-left: 150px;
    font-size: 3vmin;
  }
  #navigation-bar {
    width: 5%;
  }
  .login-title {
    text-align: center;
  }
  .animation-wrapper {
    width: 90%;
  }
  .welcome-animation {
    font-size: 40px;
    width: 40%;
  }
  .activity-list {
    font-size: 16px;
    width: 600px;
  }
}
