body {
  background: white;
  font-family: 'Roboto', sans-serif;
  min-width: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

button {
  margin: 0 auto;
}

/* FORMS */

form div {
  margin: 14pt;
  display: inline-block;
  margin: 0 auto;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0px;
}

#new-activity-title {
  font-size: 1em;
  color: white;
}

input {
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 16px;
  padding: 15px;
  width: 600px;
  margin: 0 auto;
  color: darkviolet;
}

input:focus {
  outline: 0;
}

input::placeholder {
  font-size: 16px;
}

#input-button, #delete-button {
  height: 25px;
  color: black;
}

#input-button:hover, #delete-button:hover {
  color: darkviolet;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  padding: 10vmin 1rem;
}

.login-title {
  text-align: center;
}

.login-field {
  text-align: left;
  padding: 20px;
}

.login-button {
  background: black;
  color: white;
  width: 150px;
  height: 50px;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  outline: none;
  padding: 10px;
}

.login-button[disabled] {
  background: lightgrey;
}

#password-message, #email-message {
  display: none;
}

/* NAVIGATION BAR */
#navigation-bar {
  display: 'block';
  padding-right: 20px;
  visibility: hidden;
  position: absolute;
  width: 30px;
  left: 0;
  top: 0;
}

#navigation-open-button {
  display: 'inline-block';
  position: absolute;
}

#top-right-logged {
  top: 0;
  right: 0;
}

#top-right-corner-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: 0;
  flex-wrap: nowrap;
  align-self: flex-end;
}

.navigation-icons {
  display: 'inline-block';
  align-content: 'center';
}

.navigation-icons-logged {
  display: 'inline-block';
  align-content: 'center';
}

/* TO DO LIST */

.activity-list {
  background: white;
  padding: 20px;
  box-shadow: 2px 2px 2px lightgrey;
  border-style: solid;
  border-width: thin;
  border-color: #8cb7e9;
  width: 600px;
  height: auto;
  color: black;
  margin: 5px auto;
  text-align: left;
  overflow-wrap: break-word;
}
.activity-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: minmax(100%, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.activity-button-container {
  grid-column: 12;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  float: right;
  justify-items: center;
}

.activity-date {
  color: lightgrey;
  font-size: 10px;
  grid-column: 1 / span 2;
  grid-row: 1;
}

.activity-list:hover {
  border-color: darkviolet;
}

.activity-name-active, .activity-name-inactive {
  grid-column: 1 / span 11;
  grid-row: 1 / span 2;
}

.activity-name-inactive {
  text-decoration: line-through;
  text-decoration-color: lightgrey;
  color: lightgrey;
}

.activity-check, .activity-delete, .activity-disabled-check {
  transition: all .2s ease-in-out;
  grid-row: 2;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 15px;
  height: 15px;
}

.activity-check:hover, .activity-delete:hover {
  transform: scale(1.1);
  opacity: 1;
}

.activity-disabled-check {
  opacity: 0.2;
}

.wrapper {
  position: relative;
  text-align: center;
  align-content: center;
  width: 100%;
  z-index: -1;
}

.day {
  font-size: 3vmin;
  color: black;
}

#warning-p {
  font-size: 14px;
  text-align: center;
  width: 100%;
}

/* WELCOME PAGE */

#navigation-bar {
  text-align: center;
  width: 50px;
}

.animation-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 3;
  padding-top: 250px;
  align-self: center;
  display: 'inline-block';
}

.welcome-animation {
  grid-column: 3 / span 7;
  grid-row: 4 / span 3;
  overflow: hidden;
  font-size: 2em;
  font-size: 4vw;
  border-right: .1em solid darkviolet;
  letter-spacing: .1em;
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
  -webkit-animation: typing 1s steps(30, end),
    blink-caret .2s step-end infinite alternate;
}

@-webkit-keyframes typing {
  from { width: 0 }
  to {width: 100%}
}

@-webkit-keyframes blink-caret {
  50% { border-color: transparent }
}

/* FOOTER */

#footer-holder {
  bottom: 0;
  padding: 20px;
  display: 'block';
  text-align: center;
  min-width: 550px;
}

#footer {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5vmin;
}

@media only screen and (max-width: 750px) {
  .navigation-bar {
    display: inline-flex;
    bottom: 0;
    width: 50%;
    height: 65px;
    position: fixed;
    z-index: 2;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    right: 0%;
    border-radius: 20px;
    border-top-right-radius: 20px;
    position: fixed;
  }

  #top-right-corner-icons {
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 0;
    justify-content: flex-start;
  }

  .animation-wrapper {
    padding-top: 150px;
  }

  .login-form {
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
  }

  button {
    margin-left: 30%;
  }


  .day {
    font-size: 20px;
  }

  #footer {
    font-size: 12px;
  }
}

@media only screen and (max-width: 640px) {
  .container {
    width: 640px;
  }

  #footer {
    width: 640px;
  }
}
