body {
  background: white;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* FORMS */

form div {
  margin: 14pt;
  display: inline-block;
  margin: 0 auto;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: left 1s ease;
  text-align: center;
  top: 0px;
}

#navigation-bar {
  display: 'inline-block';
  visibility: hidden;
  position: fixed;
  width: 80px;
  top: 20px;
  left: 0;
  bottom: 0;
}

#navigation-open-button {
  display: 'inline-block';
}

.navigation-icons {
  display: 'inline-block';
  padding-top: 20px;
}

#new-activity-title {
  font-size: 1em;
  color: white;
}

input {
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 16px;
  padding: 15px;
  width: 600px;
  margin: 0 auto;
  color: darkviolet;
}

input:focus {
  outline: 0;
}

input::placeholder {
  font-size: 14px;
}

#input-button, #delete-button {
  height: 25px;
  color: black;
}

#input-button:hover, #delete-button:hover {
  color: darkviolet;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  padding: 10vmin 1rem;
  width: 1vmin 1rem;
}

.login-title {
  text-align: center;
}

.login-field {
  text-align: left;
  padding: 20px;
}

.login-button {
  background: black;
  color: white;
  width: 150px;
  height: 50px;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  outline: none;
  padding: 10px;
}

.login-button[disabled] {
  background: lightgrey;
}

#password-message, #email-message {
  display: none;
}

/* TO DO LIST */

.activity-list {
  background: white;
  padding: 20px;
  box-shadow: 2px 2px 2px lightgrey;
  border-style: solid;
  border-width: thin;
  border-color: #8cb7e9;
  width: 600px;
  color: black;
  margin: 5px auto;
  text-align: left;
}

.activity-list:hover {
  border-color: darkviolet;
}

.activity-name-inactive {
  text-decoration: line-through;
  text-decoration-color: lightgrey;
  color: lightgrey;
}

.activity-check, .activity-delete {
  float: right;
  border: none;
  outline: none;
  padding-right: 10px;
  vertical-align: middle;
}

.wrapper {
  position: relative;
  text-align: center;
  align-content: center;
  width: 100%;
}

.day{
  font-size: 3vmin;
  color: black;
}

#warning-p {
  font-size: 14px;
  text-align: center;
  width: 100%;
}

/* WELCOME PAGE */

#navigation-bar {
  text-align: center;
  width: 50px;
}

.animation-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 20%);
  grid-column: 3;
  padding-top: 5em;
  display: 'inline-block';
}

.welcome-animation {
  grid-column: 2 / span 5;
  overflow: hidden;
  font-size: 2em;
  font-size: 2.5vw;
  /* border-right: .1em solid darkviolet; */
  letter-spacing: .1em;
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
  -webkit-animation: typing 1s steps(30, end),
    blink-caret .2s step-end 3 alternate;
}

@-webkit-keyframes typing {
  from { width: 0 }
  to {width: 100%}
}

@-webkit-keyframes blink-caret {
  50% { border-color: transparent }
}

/* FOOTER */

#footer-holder {
  bottom: 0;
  padding: 20px;
  display: 'block';
  text-align: center;
  min-width: 550px;
}

#footer {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5vmin;
}